:root {
  --white: #f4eceb;
  --whiteBackground: #FFFFFF;
  --black: #000;
  --foreground: #171717;
  --blueBackground: #202945;
  --blueStrong: #0F1422;
  --orangeBackground: #B35C28;
  --greenBackground: #745C25;
  --greenText: #967B3A;
  --greenLightBackground: #83775e;
  --whiteDivider: #EDEBE7;
  --blueFacebook: #3B5999;
  --blackInstagram: #262626;

  --font-garamond-italic: var(--font-garamond-italic);
  --font-charlevoix-regular: var(--font-charlevoix-regular);
  --font-charlevoix-bold: var(--font-charlevoix-bold);
  --font-garamond-variable: var(--font-garamond-variable);
  --font-charlevoix-thin: var(--font-charlevoix-thin);
  --font-charlevoix-medium: var(--font-charlevoix-medium);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-charlevoix-regular),Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
